body {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(155, 155, 154));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Hide horizontal scrollbar */
    overflow-x: hidden;
}

span.usernameBlock {
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-weight: 700;
    font-size: 2vmin;
    margin: auto;
    margin-right: 20px;
    color: #ffffff
}

/* Loading */
*.hidden {
    display: none !important;
}

div.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 16, 0.5);
    z-index: 100;
}

.uil-ring-css {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
}

@-webkit-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.uil-ring-css>div {
    position: absolute;
    display: block;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 80px;
    box-shadow: 0 6px 0 0 #ffffff;
    -ms-animation: uil-ring-anim 1s linear infinite;
    -moz-animation: uil-ring-anim 1s linear infinite;
    -webkit-animation: uil-ring-anim 1s linear infinite;
    -o-animation: uil-ring-anim 1s linear infinite;
    animation: uil-ring-anim 1s linear infinite;
}

/* Loading */

/* dropdown */

.dropdown {
    float: left;
    /* overflow: hidden; */
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-left: -15%;
    background-color: #fdfdfd;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.show {
    display: block;
    z-index: 11;
}

.dropdownButton {
    user-select: none;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    height: 48px;
    padding: 0 16px;
    text-decoration: none;
    max-width: 100%;
    position: relative;
    background: transparent;
    width: 100%;
    overflow: visible;
    font-family: sans-serif;
    line-height: 1.15;
    font-family: Muli, Helvetica Neue, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: left !important;
}

.dropdownButton:hover {
    background-color: #e7e7e7;
    font-weight: 700;
}

.material-icons {
    vertical-align: middle;
    padding: 5%;
}


/* end dropdown */

.imagesDiv {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.image-cycle {
    width: 5vmax
}

.image-logo {
    height: 10vmax;
}

.image-motorcycle {
    height: 5vmax
}

.chenar-text {
    height: 3vmax;
    text-align: center;
    margin: auto;
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 2.5vmin;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-icon {
    width: 2vmax;
    height: 2vmax;
    margin-right: 1%;
    /* z-index: 10; */
}

.bike-icon,
.bikeProfile-icon {
    width: 3vmax;
    height: 3vmax;
    margin-right: 1%;
}

.warehouse_icon {
    width: 2vmax;
    height: 2vmax;
    margin-right: 1%;
}

.supplier_icon {
    width: 2vmax;
    height: 2vmax;
    margin-right: 1%;
}


/* .bikeProfile-icon {
    width: 3vmax;
    height: 3vmax;
    margin-right: 1%;
} */


/* Tabele */
.equal-width td {
    width: 100%;
}

.hideextra {
    width: 500px
}

.tabele {
    table-layout: fixed;
    padding: 12px;
}

.tabele_stocIntern,
.tabele_comenzi {
    padding: 12px;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* ::-webkit-scrollbar {
    width: 0;
    background: transparent;
} */

.tabel_tabele_stocIntern,
.tabel_tabele_comenzi {
    display: block;
    padding: 10px;
    box-sizing: border-box;
    background: #fff;
    border-color: rgba(0, 0, 0, .12);
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
    overflow: scroll;
    z-index: 10;
    border-radius: 10px;
}

.tabele table {
    display: block;
    padding: 10px;
    box-sizing: border-box;
    background: #fff;
    border-color: rgba(0, 0, 0, .12);
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
    overflow: scroll;
    z-index: 10;
    border-radius: 10px;

    table-layout: fixed;
    width: 100%;
    padding: 12px;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    overflow-y: hidden;
    /* overflow-x: hidden; */
}

table {
    display: grid;
    border-collapse: collapse;
    overflow-x: auto;
}

.tabel_tabele_stocIntern table {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.tabel_tabele_comenzi table {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns: auto auto auto auto auto auto;
}

thead tr th:first-child,
tbody tr td:first-child {
    width: 8em;
    min-width: 8em;
    max-width: 8em;
    word-break: break-all;
}

thead tr th:nth-child(2),
tbody tr td:nth-child(2) {
    width: 8em;
    min-width: 8em;
    max-width: 8em;
    word-break: break-all;
}

thead tr th:nth-child(3),
tbody tr td:nth-child(3) {
    width: 10em;
    min-width: 10em;
    max-width: 10em;
    word-break: break-all;
}

/* thead,
tbody,
tr {
    display: contents;
} */

th,
td {
    width: 100%;
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}


th {
    position: sticky;
    top: 0;
    background: #303136;
    /* text-align: left; */
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
}

th:last-child {
    border: 0;
}

.equal-width td {
    width: 100%;
}

td {
    white-space: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #4d4d4d;
    /* text-align: center; */
    /* text-align: left; */

    /* float: left; */
    /* width: 16%; */
}


tr:nth-child(even) td {
    background: #f0eff5;
}

/* Details table */
p,
dt {
    font-weight: bold;
}

dl,
dd {
    font-size: .9rem;
}

dd {
    margin-bottom: 2em;
}

dt {
    float: left;
    width: 20%;
    padding: 0;
    margin: 0
}

dd {
    float: left;
    text-align: left;
    width: 80%;
    padding: 0;
    margin: 0
}

/* Details table */
/* end tabele */


/* Butoane */

.programareInregBtn {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    margin: 4px;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    min-height: 32px;
    height: 1px;
    position: relative;
    border: none;
    background-color: #53a0c9 !important;
}

.programareInLucruBtn {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    margin: 4px;
    padding: 7px 23px;
    border-radius: 16px;
    align-items: center;
    min-height: 32px;
    height: 1px;
    position: relative;
    border: none;
    background-color: #e3ef3f !important;
}

.programareFinalizataBtn {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    margin: 4px;
    padding: 7px 17px;
    border-radius: 16px;
    align-items: center;
    min-height: 32px;
    height: 1px;
    position: relative;
    border: none;
    background-color: #43a047 !important;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.programareAnulataBtn {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    margin: 4px;
    padding: 7px 23px;
    border-radius: 16px;
    align-items: center;
    min-height: 32px;
    height: 1px;
    position: relative;
    border: none;
    background-color: #f54141 !important;
}

.show_stocInternBlock {
    display: block;
    z-index: 11;
}

.show_programarileMeleBlock {
    display: block;
    z-index: 11;
}

#stocInternBlock,
#comenziBlock {
    display: none;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    flex-shrink: 0;
    margin-top: auto;
}


/* Modal */

.ProfileModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.myProfileModal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 80%;
}

.chenar-text-mmyProfileModal {
    height: 3vmax;
    text-align: center;
    margin: auto;
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 2.5vmin;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}


/* Form */

.form-myProfile {
    display: grid;
    place-content: center;
    font-family: sans-serif;
    color: #6b6b6b;
}

.form-myProfile form {
    width: 50vw;
    border: 1px solid rgb(255, 255, 255);
    padding: 3vw;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #ffffff;
}

.form-myProfile label {
    margin-bottom: 15px;
    position: relative;
    /*  */
    border-radius: 5px;
    border: 2px solid #dbdbdb;
}

.form-myProfile input {
    width: 49vw;
    padding: 10px 0px;
    margin-top: 20px;
    border: none;
    outline: none;
    text-indent: 20px;
}

.form-myProfile input::placeholder {
    opacity: 0;
}

.form-myProfile span {
    position: absolute;
    top: 0;
    left: 10px;
    transform: translateY(30px);
    font-size: 0.9em;
    font-weight: 500;
    transition-duration: 300ms;
}

.form-myProfile button {
    padding: 15px 0px;
    margin-top: 20px;
    background: rgb(27, 27, 27);
    color: #fff;
    border: 1px solid rgb(27, 27, 27);
    cursor: pointer;
    border-radius: 3px;
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 1em;
}

.form-myProfile label:focus-within>span,
.form-myProfile input:not(:placeholder-shown)+span {
    background-color: white;
    font-weight: 600;
    color: rgb(27, 27, 27);
    transform: translateY(-9px);
}


/* End Form */


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.detailsButton {
    padding: 10px 15px;
    background: rgb(27, 27, 27);
    color: #fff;
    border: 1px solid rgb(27, 27, 27);
    cursor: pointer;
    border-radius: 3px;
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 1em;
}

.stergereButton {
    margin-right: 5px;
    padding: 10px 15px;
    background: rgb(27, 27, 27);
    color: #fff;
    border: 1px solid rgb(27, 27, 27);
    cursor: pointer;
    border-radius: 3px;
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 1em;
}

.actualizeazaButton {
    padding: 10px 15px;
    background: rgb(27, 27, 27);
    color: #fff;
    border: 1px solid rgb(27, 27, 27);
    cursor: pointer;
    border-radius: 3px;
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 1em;
}

.exportJSONButton {
    margin-left: 10px;
    background: rgb(163, 47, 47);
    border: 1px solid rgb(27, 27, 27);
    color: #fff;
    cursor: pointer;
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 18px;
}

.importJSONButton {
    margin-left: 10px;
    background: rgb(163, 47, 47);
    border: 1px solid rgb(27, 27, 27);
    color: #fff;
    cursor: pointer;
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 18px;
}

/* Paginare */

.pagination-container {
    display: inline;
    width: 100%;
}

.pagination-group {
    padding: 10px;
    float: left;
}

.pagination-group2 {
    padding: 10px;
    margin: auto;
    /* float: right; */
}

.pagination-content-hide {
    display: none;
}

.pagination-content li {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    display: inline;
}

.pagination-content li:hover {
    cursor: pointer;
}

.pagination-content li.active {
    background-color: #000000;
    color: white;
    border: 1px solid #3b3b3b;
}

.pagination-content li:hover:not(.active) {
    background-color: #ddd;
}


/* Paginare */


/* Modal end */

@media only screen and (max-width: 550px) {
    .usernameBlock {
        display: none;
    }

    .tabele table {
        overflow-y: scroll;
        overflow-x: scroll;
    }
}

/* Programeaza Response Modal */
.modal-response {
    display: none;
    z-index: 22;
    position: relative;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    padding-top: 150px;
    /* Location of the box */
    left: 0;
    top: 0;
}

.modal-content {
    width: 70%;
    margin: 0 auto;
    background-color: #757575;
}

.modal-header {
    text-align: center;
    font-size: 15px;
}

.modal-body {
    text-align: center;
    padding: 3px 15px;
    background-color: #7a838665;
}

.error {
    background-color: #c0392b;
}

.success {
    background-color: #27ae60;
}

.header-msg,
.body-msg {
    font-family: Arial Black, Arial Bold, Gadget, sans-serif;
}

/* Programeaza Response Modal */
.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    /* border: 2px solid yellow; */
}  

.flex-child:first-child {
    margin-right: 20px;
} 

input[type="file"] {
    display: none;
}

.custom-file-upload {
    margin-left: 10px;
    background: rgb(163, 47, 47);
    border: 1px solid rgb(27, 27, 27);
    color: #fff;
    cursor: pointer;
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 20px;
}