@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


body {
    text-align: center;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(155, 155, 154));
    min-height: 100vh;
    overflow-x: hidden;
}

.image-cycle {
    width: 8vmax
}

.image-logo {
    width: 20vmax;
}

.image-motorcycle {
    width: 8vmax
}

.chenar-text {
    margin: auto;
    background-color: rgb(0, 0, 0);
}

.intro-title {
    font-family: 'Ubuntu';
    font-style: bold;
    font-size: 6vmin;
    color: rgb(255, 255, 255);
}

.intro-text {
    font-family: 'Ubuntu';
    font-style: italic;
    font-size: 3vmin;
    color: aliceblue;
}

.trapezium1 {
    height: 0;
    width: 12vmin;
    margin: auto;
    margin-top: 0;
    color: rgb(81, 75, 75);
    border-bottom: 7vmin solid;
    border-left: 5vmin solid transparent;
    border-right: 5vmin solid transparent;
}

.trapezium2 {
    height: 0;
    width: 22vmin;
    margin: auto;
    margin-top: 0.2%;
    color: rgb(56, 53, 53);
    border-bottom: 7vmin solid;
    border-left: 5vmin solid transparent;
    border-right: 5vmin solid transparent;
    vertical-align: middle;
}

.trapezium3 {
    height: 0;
    width: 32vmin;
    margin: auto;
    margin-top: 0.3%;
    color: rgb(0, 0, 0);
    border-bottom: 7vmin solid;
    border-left: 5vmin solid transparent;
    border-right: 5vmin solid transparent;
}

.programeaza {
    font-family: 'Ubuntu';
    font-style: bold;
    font-weight: 600px;
    font-size: 3vmin;
    color: aliceblue;
    cursor: pointer;
}

/* Login Modal */
/* Modal */

.bikeProfile-icon {
    width: 3vmax;
    height: 3vmax;
    margin-right: 1%;
}


.LoginModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.myLoginModal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 80%;
}

.chenar-text-myLoginModal {
    height: 3vmax;
    text-align: center;
    margin: auto;
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 2.5vmin;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}

/* Form */

.form-myProfile {
    display: grid;
    place-content: center;
    font-family: sans-serif;
    color: #6b6b6b;
}

.form-myProfile form {
    width: 50vw;
    border: 1px solid rgb(255, 255, 255);
    padding: 3vw;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #ffffff;
}

.form-myProfile label {
    margin-bottom: 15px;
    position: relative;
    /*  */
    border-radius: 5px;
    border: 2px solid #dbdbdb;
}

.form-myProfile input {
    width: 43vw;
    padding: 10px 0px;
    margin-top: 20px;
    border: none;
    outline: none;
    text-indent: 20px;
}

.form-myProfile input::placeholder {
    opacity: 0;
}

.form-myProfile span {
    position: absolute;
    top: 0;
    left: 10px;
    transform: translateY(30px);
    font-size: 0.9em;
    font-weight: 500;
    transition-duration: 300ms;
}

.form-myProfile button {
    padding: 15px 0px;
    margin-top: 20px;
    background: rgb(27, 27, 27);
    color: #fff;
    border: 1px solid rgb(27, 27, 27);
    cursor: pointer;
    border-radius: 3px;
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 1em;
}

.form-myProfile label:focus-within>span,
.form-myProfile input:not(:placeholder-shown)+span {
    background-color: white;
    font-weight: 600;
    color: rgb(27, 27, 27);
    transform: translateY(-9px);
}

/* End Form */


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Login Modal */

/* Programeaza Modal */
.calendar-icon {
    width: 2vmax;
    height: 2vmax;
    margin-right: 1%;
}

.ProgrameazaModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.myprogrameazaModal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 80%;
}

.chenar-text-myprogrameazaModal {
    height: 3vmax;
    text-align: center;
    margin: auto;
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 2.5vmin;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}

/* Programeaza Modal */

/* Calendar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

:root {
    --black: #0a0a0a;
    --white: #ffffff;
    --gray: #949495;
    --blue: #244ab4;
    --pink: #e43f5a;
    --lightpink: #ec4b66;
    --blackish: #232931;
    --primary-font: "Poppins", sans-serif;
}

.containerCalendar {
    display: block;
    justify-content: center;
    width: 60%;
    min-width: 32rem;
    margin: 0 auto;
    color: var(--gray);
}

.calendar {
    background: var(--white);
    border-radius: 10px;
}

.month {
    display: flex;
    height: 3em;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3em;
}

.arrows {
    width: 3em;
    display: flex;
    justify-content: space-between;
}

.arrows i {
    width: 3rem;
    height: 3rem;
    text-align: center;
}

.arrows i:hover {
    background-color: var(--black);
    color: var(--white);
    transition: 0.3s ease-in;
    border-radius: 50%;
}

.weekdays {
    margin-bottom: 2rem;
    font-size: 2em;
    background-color: var(--gray);
    color: var(--blackish);
}

.day {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
}

.days div {
    width: 4rem;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.days .day:hover {
    background-color: var(--pink);
    color: var(--white);
    transition: 0.3s ease-in;
    border-radius: 50%;
    cursor: default;
}

.today {
    background-color: var(--lightpink);
    color: white;
    border-radius: 0.5em;
}

.weekdays {
    font-size: 1.5rem;
}

/* Login Response Modal */
.login-modal-response {
    display: none;
    z-index: 22;
    position: relative;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    padding-top: 150px;
    /* Location of the box */
    left: 0;
    top: 0;

}

.login-modal-content {
    width: 70%;
    margin: 0 auto;
    background-color: #757575;
}

.modal-header {
    text-align: center;
    font-size: 15px;
}

.modal-body {
    padding: 3px 15px;
    background-color: #32353665;
}

.error {
    background-color: #c0392b;
}

.success {
    background-color: #27ae60;
}

/* Login Response Modal */


/* Calendar */

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    flex-shrink: 0;
    margin-top: auto;
    bottom: 0;
    position: absolute;
    width: 100%;
}

@media only screen and (max-width: 550px) {
    .intro-title {
        font-size: 6vmax;
    }

    .intro-text {
        font-size: 3vmax;
    }

    .trapezium1 {
        height: 0;
        width: 12vmax;
        margin: auto;
        margin-top: 0;
        color: rgb(81, 75, 75);
        border-bottom: 7vmax solid;
        border-left: 5vmax solid transparent;
        border-right: 5vmax solid transparent;
    }

    .trapezium2 {
        height: 0;
        width: 22vmax;
        margin: auto;
        margin-top: 0.2%;
        color: rgb(56, 53, 53);
        border-bottom: 7vmax solid;
        border-left: 5vmax solid transparent;
        border-right: 5vmax solid transparent;
    }

    .trapezium3 {
        height: 0;
        width: 32vmax;
        margin: auto;
        margin-top: 0.3%;
        color: rgb(0, 0, 0);
        border-bottom: 7vmax solid;
        border-left: 5vmax solid transparent;
        border-right: 5vmax solid transparent;
    }

    .programeaza {
        font-size: 3vmax;
    }
}